.header{ 
    background-color: purple;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .link {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}
.header a {
    color: white;
    text-decoration: none;
}
.header .link:hover  {
    opacity: 0.8;
}


    